.ContentApp2 {
	background-image: linear-gradient(to bottom, #f8f8f8, #f9faf9, #fbfbfb, #fcfdfc, #fefefe);
	margin-top: 50px;
	.ContentApp--title-section {
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		padding-top: 20px;
	}
	.ContentApp--subtitle-section {
		text-align: center;
		font-size: 18px;
		display: block;
		color: #758499;
	}
	.col-sm-4 {
		i {
			float: left;
			font-size: 50px;
			color: #C0C7D1;
			margin-right: 10px;
		}
		.ContentApp--title-icon {
			text-align: center;
			display: block;
			color: #2F3741;
			font-size: 16px;
		}
		.ContentApp--subtitle-icon {
			color: #C0C7D1;
			text-align: center;
			font-size: 14px;
			span {
				color: #42ABD6;
			}
		}
	}
	.ContentApp--items {
		padding-bottom: 30px;
	}
	.row {
		margin-top: 30px;
	}
	//icons
	.fa-user-secret {
		color: #00A4A3 !important;
	}
	.fa-globe-americas {
		color: #4151DD !important;
	}
	.fa-low-vision {
		color: #F10000 !important;
	}
	.fa-cloud {
		color: #0089CB !important;
	}
	.fa-lock-open {
		color: #00A306 !important;
	}
	.fa-database {
		color: #0090D1 !important;
	}
	.fa-tachometer-alt {
		color: #FFBE00 !important;
	}
	.fa-money-bill-wave-alt {
		color: #FF00D8 !important;
	}
	.fa-bullhorn {
		color: #FF4C00 !important;
	}
	// fim icons
} // End .ContentApp



