.blog { // All
	background-image: linear-gradient(to bottom, #f8f8f8, #f9faf9, #fbfbfb, #fcfdfc, #fefefe);
	margin: 0 auto;
	.col {
		margin-bottom: 20px !important;
	}
	.card { // card div full
		box-shadow: 3px 3px 5px grey;
		-webkit-box-shadow: 3px 3px 5px grey;
		-moz-box-shadow: 3px 3px 5px grey;
	}
	.blog--social {
		font-size: 12px;
		color: #9DA7B7;
		cursor: pointer;
		text-align: center;
		margin: 0 auto;
		padding-top: 10px;
	}
	.blog--social__icon {
		i {
			font-size: 18px;
			padding-right: 7px;
		}
		&:nth-child(1) {
			padding-right: 10px;
		}
	}
	.blog--section--title {
		text-align: center;
		padding-top: 30px;
		font: {
			weight: bold;
			size: 26px;
		}
	}
	.blog--section--subtitle {
		text-align: center;
		display: block;
		padding-bottom: 30px;
		font-size: 18px;
		color: #73839B;
	}
	.blog--date {
		font: {
			size: 13px;
			weight: bold;
			style: italic;
		}
		color: #7B8A9D;
	}
	.blog--postname {
		font-size: 16px;
		padding-top: 5px;
	}

	.blog--post--descript {
		color: white;
		text-align: justify !important;
	}
	.blog--card {
		transform-style: preserve-3d;
		position: relative;
		height: 220px;
		width: 100%;
		display: inline-block;
		margin: 0 0 100px 0;
	}
	.blog--card .blog--card__front, .blog--card .blog--card__back {
		border-radius: 10px;
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease-in-out;
	}
	.blog--card .blog--card__front {
		transform: rotateY(0);
		z-index: 2;
	}
	.blog--card .blog--card__front .title {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px;
	}
	.blog--card .blog--card__back {
		background: #333;
		transform: rotateY(-180deg);
		padding: 20px;
	}
	.blog--card:hover .blog--card__front {
		transform: rotateY(180deg);
	}
	.blog--card:hover .blog--card__back {
		transform: rotateY(0);
	}
	.blog--card__back .btn {
		display: block;
		margin: 0 auto;
	}
	.blog--card__back a {
		text-decoration: none;
	}
}