@import './Blog/blog.scss';
@import './NavbarApp/navbar.scss';
@import './Footer/footer.scss';
@import './BannerHome/bannerHome.scss';
@import './ContentApp/contentApp.scss';

body {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 300px;
	background-image: linear-gradient(to bottom, #eff8fc, #f4f9fd, #f9fbfe, #fcfdff, #ffffff);
}