@import './Blog/blog.scss';
@import './NavbarApp/navbar.scss';
@import './Footer/footer.scss';
@import './BannerHome/bannerHome.scss';
@import './contentApp/contentApp.scss';
@import './contentApp2/contentApp2.scss';
@import './Featured/featured.scss';

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	max-width:100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	background: {
		repeat: no-repeat;
		position: top center;
		size: 100% 500px;
		image: linear-gradient(to bottom, #eff8fc, #f4f9fd, #f9fbfe, #fcfdff, #ffffff);
	}
	font-family: 'Ubuntu', sans-serif;
}